/* .app{
    text-align: center;
    height: 100vh;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.clcck{
    position: relative;
    margin: a;
    display: flex;
}

.clcck section{
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
} */